*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
  }
  
  header{
    background-image: url(images/Banner\ 2\ KicksPN.png);
    background-repeat: no-repeat;
    background-position: center;
  }
#carouselZapatillas {
    background-color: rgb(32, 124, 170);
  }
 